input{
    padding: 20px;
    border: 2px solid gray;
    margin: 10px;
    width: 250px;
}

.btn{
    padding: 10px;
    width: 295px;
    height: 35px;
    margin-left: 10px;
}

.output{
    height: 200px;
    width: 200px;
    border: 2px solid gray;
    border-radius: 20px;
    margin-top: 20px;
}