.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    padding: 10px 30px;
    border: 1px solid tomato;
    border-radius: 50px;
    cursor: pointer;
}

.navbar button:hover{
    background-color: tomato;
    transition: 1s ease;
}

.navbar .active{
    
}